extends layout

block content
  h1= title
  p Welcome to #{title}
  .container-lg.clearfix
    each repo in repos
      //- - console.log(repo)
      .col-4.float-left.border.p-4
        h3
          a(href=repo.html_url target="_blank")= repo.name
        p= repo.description
        .clearfix
          .col-6.float-left
            if repo.language
              != octicons.ruby.toSVG()
              strong  Language:
              br
              = repo.language
          .col-6.float-left
            if repo.license
              != octicons.law.toSVG()
              strong  License:
              br
              = repo.license.spdx_id
          
