extends layout

block content
  .container-lg.clearfix
    h1= title
    each repo in repos
      .col-4.float-left.border.p-4
        if repo.fork
          != octicons['repo-forked'].toSVG()
        else
          != octicons.repo.toSVG()
        h3.mb-1.d-inline-block
          | &nbsp;
          a(href=repo.html_url target="_blank")= repo.name
        if repo.homepage
          p.mb-1
            a(href=repo.homepage target="_blank")= repo.homepage
        hr.my-3
        .clearfix
          .col-6.float-left
            != octicons.star.toSVG()
            strong  Stars: 
            = repo.stargazers_count
          .col-6.float-left
            != octicons['repo-forked'].toSVG()
            strong  Forks: 
            = repo.forks_count
        hr.my-3
        p.my-3= repo.description
        hr.my-3
        .clearfix
          .col-6.float-left
            if repo.language
              != octicons.ruby.toSVG()
              strong  Language:
              br
              = repo.language
          .col-6.float-left
            if repo.license
              != octicons.law.toSVG()
              strong  License:
              br
              = repo.license.spdx_id
